xml-resources/web-service-references/Validaciones_1/wsdl/192.168.10.100_5884/Validaciones.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ISW.TP1.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ISW.TP1.WebService"><xs:complexType name="Cliente"><xs:sequence><xs:element minOccurs="0" name="Dni" type="xs:int"/><xs:element minOccurs="0" name="Estado" type="xs:boolean"/></xs:sequence></xs:complexType><xs:element name="Cliente" nillable="true" type="tns:Cliente"/></xs:schema>